.social img{
    max-height: 80px;
    max-width: 80px;
    position: relative;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;    
}

.nav_footer{
    color:#efbc9bff;
    background-color: #0a122aff;
    padding:1em;
    display: flex;
    margin-top: 2em;
}

.footer{    
    display: flex;
    background-color: #0a122aff;
    padding:0;
    justify-content: center;
    color:#efbc9bff;
    border-top: 1px solid #efbc9bff;    
}


    