
/* Barre de navigation */

header{
    padding:1em;
    text-align: center;
    background-color: brown;
    display: flex;
    justify-content: center;
}

.nav_header a{
    padding: 1em;
    display: inline-flex;
        
}

ul{
    list-style: none;
    
}

a:hover{
    transition-duration: 5s;
    color: yellow;
    text-decoration: none;
    background-attachment: fixed;
    padding-left: 1em;     
}

a:link,:visited{
    color:bisque;
    text-decoration: none;
}

/* a:focus{
    transition-duration: 5s;
    color: brown;
    text-decoration: none;
    background-attachment: fixed;
    padding-left: 1em;     
} */

#avatar {
    max-width: 128px;
    max-height: 128px;
    display:inline-flex;
    
}


/* Body */

body{
    /* font-family:'dosis'; */
    background-color: bisque;
    margin:0;
    padding: 0;    
}

main{
    margin: 15px;
}

h1{
    font-weight: bold;
    color: brown;
    text-align: center;
    border-bottom: 1px;
}

/* Style du formulaire */

form{
   /* Contour formulaire */
    margin-left: 15px;
    width: 400px;
    border-style: double;
    border-radius: 1em;
    border-color: brown;
    padding: 1em;
}

.form{
    padding:2em;
    display:flex;
    justify-items: flex-start;
}
    
label{
    display:inline-block;
    width: 90px;
    text-align: left;
    padding: 1em;
}

textarea{
    /* font-family: dosis; */
    width: 200px;
    height: 5em;
    resize:vertical
}

.button{
    padding-left: 170px;

}