<!DOCTYPE html>


<footer class="nav_footer">
    <div id ="avatar">
        <img src ="..\images\avatar_transparent.png">
    </div>            
    <div class="contact">
        <h4>Contact me</h4>
        <tel>0474/84.61.58</tel>                    
        <br>
        <br>
        <address>Rue de la Chapelle,30
            <br>1340 - Ottignies
        </address>
    </div>

    <div class="social">
        <h4>Follow me</h4>
        <div>
            <img src="..\images\linkedin.png" alt ="Linkedin">
                <a href="https://be.linkedin.com/in/jenny-fernandez-garcia"></a>
            </img>
        </div>
    </div>            
</footer>
<div class="footer">
    <p>&copy; Site réalisé avec amour par Jenny Fernandez Garcia<p>                                
</div>