<html lang="fr">
    <head>
        <Title>Mon Portfolio</Title>
        <link href="..\images\portfolio.png" alt="Logo du portfolio" rel="icon">
        <meta charset="UTF-8"> 
        <meta name="Description" content="Vous trouverez ici les différents projets sur lesquels j'ai travaillé">
        <link href="portfolio.css" rel="stylesheet">
        <link rel="stylesheet" href="..\CSS\header.css">
        <link rel="stylesheet" href="..\CSS\footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    </head>