<!DOCTYPE html>


<footer class="nav_footer">
            
    <div class="contact">
        <ul>
            <li><h4>Contact me</h4></li>
            <li>Rue de la Chapelle,30</li>
            <li>1340 - Ottignies</li>
            <li>0474/84.61.58</li>
        </ul>
    </div>

    <div class="social media">
        <ul>
            <li><h4>Follow me</h4></li>
            <li>Instagram</li>
            <li>Linkedin</li>                    
        </ul>
    </div>
    <div class="footer">
        <p>Site réalisé avec amour par Jenny Fernandez Garcia<p>                                
    </div>
</footer>