footer {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
    display:flex;
    justify-content:space-around;
    flex-direction: row-reverse;
}

footer p{
    font-weight: bold;
}

.logo {
    width: 100px;
    height:auto;
    border-radius: 50%;       
}

.copyright{
    background-color: lightgrey;
    text-align: center;
    padding: 2rem;
}