/* Structure */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 20px;            
}

.img-bandeau{
    width: 100%;
    height: 400px;    
}

.main {
    background-color: bisque;
    padding: 20px;
}

.main p{
    text-align: left;
}



/* Menus navigation */

.nav_header a {
    padding: 50px;
}

a:is(:hover,:focus) {
    color: bisque;
    background-attachment: fixed;
    text-decoration-line: none;
    transition-duration: 0.5s;    
}

.nav_header {
    padding-bottom: 20px;
    font-size: 20 px;
    font-style: italic;
    text-align: center;
}
.nav_footer {
    padding: 20px;
    font-size: 20 px;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    text-align: center;       
}

/* Content */

h1{
    text-align: center;
}

/* Tableau */

.table{
    display:flex;
    justify-content: center;    
    table-layout: auto;
    width: 100%;           
}

td, th{
    border-style: initial;
    border-collapse:collapse;        
}

thead, tfoot{
    background-color: black;
    color: bisque;
}
